.field {
    /* padding: 30px; */
    display: flex;
    min-width: 100px;
    width: 30%;
    max-width: 200px;
    background-color: grey;
    /* margin: 100px auto; */
    border-radius: 5px;
    text-align: center;
}

.field input {
    min-width: 80px;
    width: 100%;
    max-width: 100px;
}

.field span {
    min-width: 80px;
    width: 100%;
    max-width: 100px;
}